fastapi
uvicorn[standard]

streamlit

pandas
numpy
requests

ollama

chromadb
sentence-transformers

langgraph
langchain
langchain-community

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

python-dotenv

sqlalchemy

email-validator

pytest

scikit-learn

tqdm